/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
    h4{
        text-align: center;
    }
    #menu-img-div{
        text-align: center;
    }
    #contact-email-title{
        text-align: center;
    }
    #email-btn{
        text-align: center;
    }
    /*footer styling*/
    #page-container {
        position: relative;
        min-height: 100vh;
      }
      
      #content-wrap {
        padding-bottom: 2.5rem;    /* Footer height */
      }
      
      #footer {
        position: relative;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
      }

      #fooder-span{
          text-align: center;
      }
      
       
 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
img{
    height: 400px;
}
}

